<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Finnest' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/foundation.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>
  <body>
    <% var logoText = "http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/v1/1084130/pan9vismbjnaelgvkxkn.png"; %>

    <% if (req.session.Adult) { %>
      <header class='header-normal'>
        <a href='/'><img src="<%= logoText %>"></img></a>
        <div>
        <span>Welcome </span>
            <a class='header-username' href='/'>
              <%= req.session.Adult.first_name %>
              <%= req.session.Adult.last_name %>
            </a>
            <span> ! </span>
            <a href='/adultLogout'>Logout</a>
        </div>
      </header>
    <% } else if (req.session.Kid) { %>
      <div class="top-bar">
        <div class="top-bar-title"><img src="<%= logoText %>"></img></div>
        <div>
          <div class="top-bar-left"></div>
          <div class="top-bar-right">
            <a href='/'><%= req.session.Kid.email %></a>
            <a href='/adultLogout'>Logout</a>
          </div>
        </div>
      </div>
    <% } %>



    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/foundation.js"></script>
    <script src="/js/what-input.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
