<% var currentAdult = req.session.Adult; %>

<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/adultHome.css">


<div class="container">
		<% kids.forEach(function(kidInfo) { %>
				<div>
					<ul>
						<li><%= kidInfo.type %></li>
						<li><%= kidInfo.number %></li>
						<li><%= kidInfo.balance %></li>
						<li><%= kidInfo.holderName %></li>
						<ul>
				</div>
		<% }) %>
	<!-- <div>
		<a href='/families/<%=currentAdult.family%>'>
			<img src='/images/reg_kid.png' />
			<h4>My Family</h4>
		</a>
	</div>
	<div>
		<a ><img src='/images/tracking.png' /><h4>Settings</h4></a>
	</div> -->
</div>
