<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/transfer.css">

<div class='main-container'>

<h4>Send money to friends and family</h4>

<div class='shadowed-container'>
    <div class='account-myAccount account-info'>
      <p>
        <strong>My Account: </strong>
        <span><%= myAccount.type %></span>
        <span>********</span>
        <span><%= myAccount.number %></span>
      </p>
      <p>
        <strong>Balance: </strong>
        <a id='show-balance'>&nbsp;&nbsp;show</a>
        <span id='balance'> &nbsp;$<%= myAccount.balance %></span>
      </p>
    </div>

  <form  action="/transfers" id='transfer-form' method="POST">
  <label for="to">To: </label>
  <select name='to' required>
    <% kids.forEach(function(kidInfo) { %>
      <option value="<%=kidInfo.holderName%>,<%=kidInfo.type%>">
        <strong><%=kidInfo.holderName%></strong>
        <span><%= kidInfo.type %></span>
        <span>********</span>
        <span><%= kidInfo.number %></span>
        <span>$<%= kidInfo.balance %></span>
      </option>
    <% }) %>
  </select>

  <input type='hidden' name='fromType' value='<%=myAccount.type%>'>

  <label for="">Amount: </label>
  <input type="number" id='amount' step="any" min='0.01' name="amount" placeholder="$0.00" required="required">
  <input class='customized-button customized-button-orange' type='submit'>

  </form>


</div>

</div>

<script src="/js/dependencies/jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#balance').hide();
    $('#show-balance').click (function(){
      $('#show-balance').hide();
      $('#balance').show();
    });
    $('#balance').click (function(){
      $('#show-balance').show();
      $('#balance').hide();
    });
  });
</script>
